@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Text Match website</p>
<p></p>
<p>This is a Asp.Net 5 (MVC) application, running on Mac OS X and Linux (and Windows as well) and developed with Visual Studio Code</p>
<p>For the DI I used the integrated container shipped with Asp.Net vNext</p>
<p>For test I used xUnit, the default test framework coming up with Asp.Net vNext</p>

<p> To buld the project you can do it inside Visual Studio 2015 on Windows or using Visual Studio Core on Mac OS X / Linux </p>
<p> From the root of the project type "dnu restore" to restore and install all the packages and then "dnu build src/TextMatch"
<p> To run the website from the root folder of the project type "dnx src/TextMatch kestrel" on OS X/Linux or "dnx src/TextMatch web" on Windows. You will find the website at: http://localhost:5001 </p>
<p> To run the tests, from the root folder of the project type "dnx test test"</p>

