@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
<h3>Stefano Paluello</h3>
<div><email>stefano.paluello@gmail.com</email></div>
<div><a href="https://github.com/palutz">My github repo</a></p></div>
</div>

